# Project binaries
app/services/sales-api/sales-api
app/services/metrics/metrics
app/tooling/sales-admin/sales-admin
app/tooling/sales-admin/logfmt

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Editor files
.idea/
.vscode/
*.iml
*.swp

# Mac
.DS_Store

# Backup files
*~*

# Folders
_obj
_test
tmp